In [3]:
import math

### Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

**Attempt 1**

In [18]:
sum(i for i in range(1000) if i % 3 == 0 or i % 5 == 0)

233168

**Attempt 2**

This identity gives us the sum of 1 through n

$\displaystyle\sum_{k=1}^n k=\frac{1}{2}n(n+1)$

We can use this to calculate the sum for all multiples of 3 and 5, and then subtract the sum of multiples of 15 where a single number will be double counted

In [22]:
def sum_n_numbers(n):
    return n * 0.5 * math.floor(999 / n) * (math.floor(999 / n) + 1)

sum_n_numbers(3) + sum_n_numbers(5) - sum_n_numbers(15)

233168.0

### Even Fibonacci numbers

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [46]:
a = 0
b = 1
c = 0

while(c < 100):
    c = a + b
    a = b
    b = c
    print(c)

1
2
3
5
8
13
21
34
55
89
144